[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
