body {
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.button:hover {
  background-color: #6060ab;
  transition-duration: 0.3s;
  cursor: pointer;
  outline: 0;
}

h1 {
  font-size: 24px;
  text-shadow: 2px 2px #000000;
}

.header-box {
  background-color: #6060ab;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  margin-left: 43%;
  margin-right: 43%;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0;
}
input {
  width: 80%;
  max-width: 400px;
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
}

.button {
  background-color: #444444;
  border-color: #000;
  color: #fff;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
}

.tenor-gif-embed {
  display: inline-block;
  margin: 15px;
}

@media only screen and (max-width: 1000px) {
  .tenor-gif-embed {
    margin: 2%;
  }

  .header-box {
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;
  }
}
