body {
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

h1 {
  text-shadow: 2px 2px #000000;
  font-family: "Open Sans", sans-serif;
}

input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 7px;
}

.button {
  margin: 20px;
  font-size: 20px;
  border-radius: 5%;
}
.tenor-gif-embed {
  display: inline-block;
  margin: 5%;
}
