body {
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  text-shadow: 2px 2px #000000;
  font-family: "Open Sans", sans-serif;
}

.header-box {
  background-color: #444444;
  border-radius: 7px;
  margin-left: 37%;
  margin-right: 37%;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 1px;
}
input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 7px;
}

.button {
  background-color: #444444;
  border-color: #000;
  color: #fff;
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  border-radius: 30px;
}
.tenor-gif-embed {
  display: inline-block;
  margin: 15px;
}

@media only screen and (max-width: 500px) {
  .tenor-gif-embed {
    margin: 2%;
  }

  .header-box {
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
  }
}
