body {
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  text-shadow: 2px 2px #000000;
  font-family: "Open Sans", sans-serif;
}

input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 7px;
}

.button {
  margin: 10px;
  font-size: 16px;
  border-radius: 7px;
}
.tenor-gif-embed {
  display: inline-block;
  margin: 30px;
}

@media only screen and (max-width: 800px) {
  .tenor-gif-embed {
    margin: 0;
  }
}
