body {
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

h1 {
  text-shadow: 1px 1px #000000;
}

input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
}

.button {
  padding: 10px;
}
.tenor-gif-embed {
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}
