<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
{% block body %}
<h1>Gif Search!</h1>
<form action="/">
    <input type="text" name="query" />
    <button type="submit" value="submit">Search</button>
</form>
    {% if display %}
        {% for gif in gifs %} 
            {% include 'gif.html' %} 
        {% endfor %} 
    {% else %}
        <h4>There are no gifs to display.  Try another search query!</h4>
    {% endif %}

{% endblock body %}
